<%- include header %>
<div class="single-post-list">
  <h2 class="single-post-title show-post">
    <%= post.title %>
    <% if (user && (user.name == post.name)) { %>
      <span><a href="/edit/<%= post.name %>/<%= post.title %>" class="btn btn-primary">编辑</a></span>
    	<span><a href="/delete/<%= post.name %>/<%= post.title %>" class="btn btn-warning">删除</a></span>
    <% } %>

    <% var flag = 1 %>
    <% if (user && (user.name != post.name)) { %>
      <% if ((post.reprint_info.reprint_from != undefined) && (user.name == post.reprint_info.reprint_from.name)) { %>
        <% flag = 0 %>
      <% } %>
      <% if ((post.reprint_info.reprint_to != undefined)) { %>
        <% post.reprint_info.reprint_to.forEach(function (reprint_to, index) { %>
          <% if (user.name == reprint_to.name) { %>
            <% flag = 0 %>
          <% } %>
        <% }) %>
      <% } %>
    <% } else { %>
      <% flag = 0 %>
    <% } %>
    <% if (flag) { %>
      <span><a class="edit" href="/reprint/<%= post.name %>/<%= post.title %>">转载</a></span>
    <% } %>
    <div class="created-time pull-right"><%- timeago(post.time.minute) %></div>
  </h2>
  <div class="inside">
    <div class="info">
      <a href="/u/<%= post.name %>"><img src="<%= post.head %>" class="img-thumbnail" alt="<%= post.name %>" onError="this.src='/images/guitar1.png'" height="30" width="30"></a><a href="/u/<%= post.name %>">&nbsp;<%= post.name %></a>
      <% if (post.tags != '') { %>
        | Tags:
        <% post.tags.forEach(function (tag,index) { %>
          <% if (tag) { %>
            <a class="label label-primary" href="/tag/<%= tag %>"><%= tag %></a>
          <% } %>
        <% }) %>
      <% } %>
    </div>
    <p><%- post.post %></p>
        <% if (post.image) { %>
          <img src="<%= post.image.path.split('public')[1] %>" height="200" width="200" />
        <% } %>
        <p class="info">
          阅读：<%= post.pv %>&nbsp;|&nbsp;
          评论：<%= post.comments.length %>&nbsp;|&nbsp;
          转载：
          <% if (post.reprint_info.reprint_to) { %>
            <%= post.reprint_info.reprint_to.length %>
          <% } else { %>
            <%= 0 %>
          <% } %>
        </p>
  </div>
</div>
<%- include comment %>
<%- include footer %>