<%- include header %>
<% posts.forEach(function (post, index) { %>
  <p><h2><a href="/u/<%= post.name %>/<%= post.title %>"><%= post.title %></a></h2></p>
  <p class="info">
    作者：<a href="/u/<%= post.name %>"><%= post.name %></a> |
    日期：<%= post.time.minute %>
  </p>
  <p><%- post.post %></p>
  <% if (post.image!='') { %>
    <img src="<%= post.image.path.split('public')[1] %>" height="200" width="200" />
  <% } %>
<% }) %>
<%- include paging %>
<%- include footer %>