<%- include header %>
<h2>
  <div class="pull-right btn-group switch-view" data-toggle="buttons">
    <label class="btn btn-primary grid-view active">
      <input type="radio"> <span class="glyphicon glyphicon-th-large"></span>
    </label>
    <label class="btn btn-primary list-view">
      <input type="radio"> <span class="glyphicon glyphicon-align-justify"></span>
    </label>
  </div>
  <br>
  <span class="fontWhite f40px">Freshly pressed</h2>
</h2>
<div class="posts js-masonry" id="posts">
  <% posts.forEach(function (post, index) { %>
    <div class="single-post">
      <h2 class="single-post-title">
        <a href="/u/<%= post.name %>/<%= post.title %>"><%= post.title %></a>
        <div class="created-time pull-right"><%- timeago(post.time.minute) %></div>
      </h2>
      <div class="inner-container inside">
  <!--         <button type="button" class="close" aria-hidden="true">&times;</button> -->
        <div class="info">
          <a href="/u/<%= post.name %>"><img src="<%= post.head %>" class="img-thumbnail" alt="<%= post.name %>" onError="this.src='/images/guitar1.png'" height="30" width="30"></a><a href="/u/<%= post.name %>">&nbsp;<%= post.name %></a>
          <% if (post.tags != '') { %>
            | Tags:
            <% post.tags.forEach(function (tag,index) { %>
              <% if (tag) { %>
                <a class="label label-primary" href="/tag/<%= tag %>"><%= tag %></a>
              <% } %>
            <% }) %>
          <% } %>
        </div>
        <p><%- post.post %></p>
        <% if (post.image) { %>
          <img src="<%= post.image.path.split('public')[1] %>" height="200" width="200" />
        <% } %>
        <p class="info">
          阅读：<%= post.pv %>&nbsp;|&nbsp;
          评论：<%= post.comments.length %>&nbsp;|&nbsp;
          转载：
          <% if (post.reprint_info.reprint_to) { %>
            <%= post.reprint_info.reprint_to.length %>
          <% } else { %>
            <%= 0 %>
          <% } %>
        </p>
      </div>
    </div>
  <% }) %>
</div>
<%- include footer %>